
<div class="container" ng-init="initialToolTip()">

<form name="uploadForm" ng-submit="uploadFile(uploadForm.$valid)" action="none" id="signup" enctype="multipart/form-data" novalidate>
        <div class="header">
        <h3>Upload a Gene Expression Data File</h3>                                                                                  
        </div>
        <div class="sep"></div>
        <div class="inputs">
        <span ng-style="{'color':'red','font-size': '155%'}">*</span><input type="file" file-model="myFile" class="tooltip23" title="toolTip1" ng-model="doc" valid-file required/>
        <br>
        <span class="tooltip23" title="toolTip2">
        <span ng-style="{'color':'red','font-size': '155%'}">*</span> What platform was used to collect this data?
        <br />
        <input type="radio" ng-model="platform" value="microarray" required/> Microarray
        <br>
        <input type="radio" ng-model="platform" value="bulk rna" /> Bulk RNA sequencing
        <br>
        <input type="radio" ng-model="platform" value="single rna" /> Single Cell RNA sequencing
        </span><br>
        <br><span ng-style="{'color':'red','font-size': '155%'}">*</span> Expression data start row:
        <br>
        <input type="number" name="start_row" ng-model="start_row" class="tooltip23" title="toolTip3" required/>
        <br> Expression data end row:<br />
        <br>
        <input type="number" name="end_row" ng-model="end_row" class="tooltip23" title="toolTip4" min={{start_row+1}}/>        <span ng-if="(uploadForm.end_row.$dirty || submitted) && uploadForm.end_row.$error.min" ng-style="{'color':'red'}">End row must be greater than start row.</span>
        <br>
        <span class="tooltip23" title="toolTip5">
        <span ng-style="{'color':'red','font-size': '155%'}">*</span> Are the genes labeled by gene symbol?
        <br>
        <input type="radio" ng-model="convert" value="no"/> No
        <br>
        <input type="radio" ng-model="convert" value="yes" /> Yes
        </span>
        <!--<button type="button" onclick="expand()">No</button>
                        <button type="button" onclick="collapse()">Yes</button> -->
        <div id="demo" ng-hide="convert==='yes'">
                <br>
                <p><span ng-style="{'color':'red','font-size': '155%'}">*</span> Upload the file for converting gene ID to gene symbol:</p>
                <input type="file" file-model="conversion_file" class="tooltip23" title="toolTip6" ng-model="doc" valid-file ng-required="convert === 'no'" />
                <br><span ng-style="{'color':'red','font-size': '155%'}">*</span> Conversion data start row:
                <br>
                <input type="number" name="conv_start_row" ng-model="conv_start_row" class="tooltip23" title="toolTip7" ng-required="convert === 'no'"/>
                <br> Conversion data end row:
                <br>
                <input type="number" name="conv_end_row" ng-model="conv_end_row" class="tooltip23" title="toolTip8" min="{{ conv_start_row + 1}}"/>        <span ng-if="(uploadForm.conv_end_row.$dirty || submitted) && uploadForm.conv_end_row.$error.min" ng-style="{'color':'red'}">End row must be greater than start row.</span>
                <br><span ng-style="{'color':'red','font-size': '155%'}">*</span> Gene ID column:
                <br>
                <input type="number" ng-model="id_col" class="tooltip23" title="toolTip9" required/>
                <br><span ng-style="{'color':'red','font-size': '155%'}">*</span> Gene symbol column:
                <br>
                <input type="number" ng-model="symbol_col" class="tooltip23" title="toolTip10" required />
        </div>
        <center><button type="submit" id="submit" ng-disabled="uploadForm.$invalid">Run Classification</button></center>
</div>
</form>
</div>