<br/>
<br/>

<form action="none" id="form_container" enctype="multipart/form-data">
        <p>Upload a gene expression data file.</p>
        <input type="file" file-model="myFile" />
        <br>
        <p>What platform was used to collect this data?</p>
        <input type="radio" ng-model="platform" value="microarray" checked/>Microarray
        <br>
        <input type="radio" ng-model="platform" value="bulk rna" />Bulk RNA sequencing
        <br>
        <input type="radio" ng-model="platform" value="single rna" />Single Cell RNA sequencing
        <br> On what row number does the expression data start?
        <input type="text" ng-model="start_row" />
        <br> On what row number does the expression data end?
        <input type="text" ng-model="end_row" />
        <br> Are the genes labeled by gene symbol?
        <input type="radio" ng-model="convert" value="no" />No
        <input type="radio" ng-model="convert" value="yes" />Yes
        <br>
        <!--<button type="button" onclick="expand()">No</button>
                        <button type="button" onclick="collapse()">Yes</button> -->
        <div id="demo" ng-hide="convert==='yes'">
                <p>Upload the file for converting gene ID to gene symbol:</p>
                <input type="file" file-model="conversion_file" />
                <br> On what row number does the conversion data start?
                <input type="text" ng-model="conv_start_row" />
                <br> On what row number does the conversion data end?
                <input type="text" ng-model="conv_end_row" />
                <br> Which column is gene ID?
                <input type="text" ng-model="id_col" />
                <br> Which column is gene symbol?
                <input type="text" ng-model="symbol_col" />
                <br>
        </div>
        <br>
        <button  type="button" ng-click="uploadFile()">upload me</button>
</form>