<br/>
<br/>

<div class="container" ng-init="initialToolTip()">

<form name="uploadForm" ng-submit="uploadFile(uploadForm.$valid)" action="none" id="signup" enctype="multipart/form-data" novalidate>
        <div class="header">
        
                        <h3>Upload a Gene Expression Data File</h3>
                                                
        </div>
        <div class="sep"></div>
        <div class="inputs">
        <input type="file" file-model="myFile" class="tooltip23" title="toolTip1"/>
        <br>
        <span class="tooltip23" title="toolTip2">
        What platform was used to collect this data?
        <br />
        <input type="radio" ng-model="platform" value="microarray" /> Microarray
        <br>
        <input type="radio" ng-model="platform" value="bulk rna" /> Bulk RNA sequencing
        <br>
        <input type="radio" ng-model="platform" value="single rna" /> Single Cell RNA sequencing
        </span><br>
        <br> Expression data start row:
        <br>
        <!-- <p ng-show="(uploadForm.start_row.$dirty || submitted) && uploadForm.start_row.$error.required">You must enter Username.</p> -->
        <input type="number" ng-model="start_row" class="tooltip23" title="toolTip3" required/>
        <br> Expression data end row:
        <br>
        <input type="number" ng-model="end_row" class="tooltip23" title="toolTip4" />
        <br>
        <span class="tooltip23" title="toolTip5">
        Are the genes labeled by gene symbol?
        <br>
        <input type="radio" ng-model="convert" value="no"/> No
        <br>
        <input type="radio" ng-model="convert" value="yes" /> Yes
        <br>
        </span>
        <!--<button type="button" onclick="expand()">No</button>
                        <button type="button" onclick="collapse()">Yes</button> -->
        <div id="demo" ng-hide="convert==='yes'">
                <br>
                <p>Upload the file for converting gene ID to gene symbol:</p>
                <input type="file" file-model="conversion_file" class="tooltip23" title="toolTip6" />
                <br> Conversion data start row:
                <br>
                <input type="number" ng-model="conv_start_row" class="tooltip23" title="toolTip7" ng-required="convert === 'no'"/>
                <br> Conversion data end row:
                <br>
                <input type="number" ng-model="conv_end_row" class="tooltip23" title="toolTip8"/>
                <br> Gene ID column:
                <br>
                <input type="number" ng-model="id_col" class="tooltip23" title="toolTip9"/>
                <br> Gene symbol column:
                <br>
                <input type="number" ng-model="symbol_col" class="tooltip23" title="toolTip10" />
                <br>
        </div>
        <br>
        <!-- <center><button type="submit" id="submit" ng-click="uploadFile()">Run Classification</button></center> -->
        <center><button type="submit" id="submit" ng-disabled="uploadForm.$invalid">Run Classification</button></center>
</div>
</form>
</div>