<div ng-init="unregCtrl.init()">
<div ng-if="!$root.isConnected" ng-init="unregCtrl.get3rand()">
    <center>
            <h1> Welcome </h1>
            <h2>You are not connected.<br/> To enjoy the features in out site we recommend to login/register</h2>
            <button ng-style="{'height': '100px', 'width': '300px'}" ng-click="unregCtrl.signUp()">Login</button>
    <table style="border-collapse: separate; border-spacing: 1em">
        <tr>
            <td ng-repeat="random in unregCtrl.random">
                <br/><br/><br/><center>
                        <span style="cursor: pointer;" ng-bind="random.Name" ng-click="unregCtrl.goTo(random.ID)"></span></center>
                        <br>
                        <img style="cursor: pointer;" ng-style="{'height': '300px','width':'300px'}" ng-click="unregCtrl.goTo(random.ID)") ng-src="{{random.Picture}}"/>
            </td>
        </tr>
    </table>
    </center>

</div>


<div ng-if="$root.isConnected" ng-init="unregCtrl.getreg()">
    <center>
    <table style="border-collapse: separate; border-spacing: 1em">
        <tr>
            <td>
                    <img src="/assets/img/pop.jpg" height="300px" width="300px"/>
            </td>
            <td>
                    <img src="https://sacredmargins.files.wordpress.com/2014/09/bigstock-like-love-favorite-36977998.jpg?w=285&h=300" height="300px" width="300px"/>

            </td>
        </tr>
        <tr ng-repeat="popular in unregCtrl.popular">
                <td>
                    <center>    
                                <span style="cursor: pointer;" ng-bind="popular.Name"  ng-click="unregCtrl.goTo(popular.ID)"></span></center>
                                <br/>
                                <img style="cursor: pointer;" ng-style="{'height': '300px','width':'300px'}" ng-src="{{popular.Picture}}"  ng-click="unregCtrl.goTo(popular.ID)"/>
                </td>
                <td ng-if=unregCtrl.haveFav>
                        <center>
                                <span style="cursor: pointer;" ng-if=unregCtrl.haveFav ng-bind="unregCtrl.fav[$index].Name" ng-click="unregCtrl.goTo(unregCtrl.fav[$index].ID)"></span></center>
                                <br/>
                                <img style="cursor: pointer;" ng-if=unregCtrl.haveFav ng-style="{'height': '300px','width':'300px'}" ng-src="{{unregCtrl.fav[$index].Picture}}" ng-click="unregCtrl.goTo(unregCtrl.fav[$index].ID)"/>
                </td>
                <td ng-if=!unregCtrl.haveFav>
                        <center>
                                <img ng-if=!unregCtrl.haveFav ng-style="{'height': '330px','width':'300px'}" ng-src="/assets/img/nofav.jpg"/>
                </td>
        </tr>
    </table></center>
</div>
</div>